
/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 1px solid black;
}


.navbar-brand h1 { /* company name */
  font-family: 'Oxygen', sans-serif;
  font-size: 1.5em;
  margin-left: 10%;
  color: black;
  width: 400px;
  margin-top: 0px;
}

 button.navbar-toggle .icon-bar {
	border: 2px solid black;
}

.navbar-default .navbar-toggle {
  border: 1px solid black;
}

#nav-list {
 color: red;
 font-weight: bold;
 text-align: center; 
 
}

#collapsable-nav #nav-list {
  background-color: white;
}