
/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 1px solid black;
}


.navbar-brand h1 { /* company name */
  font-family: 'Oxygen', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-left: 15%;
  
}


.navbar-toggle {
	position: relative;
	float: right;
	background-color: transparent;
	border: 1px solid black;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;	
	}
}